html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #E9E9E9;
    font-family: 'Samsung One', Arial, sans-serif;
    color: #3d3d3d;
    text-align: center;
    box-sizing: border-box;
}

.main-content {
    padding: 10px;
    min-width: 70%;
}

@media (min-width: 700px) {
    .main-content {
        padding: 80px 20px 20px 20px;
    }
}

.code-of-conduct {
    text-align: left;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: normal;
}

h2.section {
    font-weight: bold;
}

h3 {
    margin-top: 2em;
    font-size: 1.6em;
    font-weight: normal;
}

h4 {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.5em;
}

h5 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
}

li {
    font-size: 1.1em;
    line-height: 1.6em;
}

a,
a:active,
a:visited {
    color: #3d3d3d;
}

a:hover {
    color: #666;
}

.hidden {
    display: none;
    float: right;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: rgba(50, 50, 50, 0.98);
    color: #fff;
    padding: 5px 15px;
}

@media (min-width: 700px) {
    header {
        position: fixed;
    }
}

header .small-logo {
    float: left;
}

header .small-logo img {
    height: 40px;
    margin-top: 5px;
}

.hamburger-menu {
    font-size: 3em;
    float: right;
    cursor: pointer;
    line-height: 1em;
}

nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + nav {
    display: block;
}

/* Fix anchor links to show under fixed header */
:target:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: rgba(50, 50, 50, 0.98);
}

nav li {
    margin-top: 5px;
    list-style-type: none;
    padding: 10px 20px;
}

nav li:first-child {
    margin-top: 0;
}

nav li a,
nav li a:visited {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    color: #ddd;
}

nav li.register a,
nav li.register a:visited {
    color: #9f99f9;
}

nav li.register a:hover {
    color: #8b84f9;
}

@media (min-width: 700px) {
    .hamburger-menu {
        display: none;

    }
    nav {
        display: block;
        position: static;
        float: right;
    }
    nav li {
        float: left;
        padding: 5px 10px;
    }
    nav li:first-child {
        margin-top: 5px;
    }
}

.title {
    margin: 20px 0 30px;
}

.title img,
.slogan img {
    max-width: 100%;
    max-width: calc(100% - 20px);
}

.coc-page .title img {
    width: 200px;
}

.brand-logos {
    margin: 30px auto 40px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.brand-logos img {
    width: 40px;
    padding: 0 10px;
}

.date-and-location {
    margin: 1.5em 0;
}

h4.topics {
    font-size: 1.3em;
}

.topics em {
    font-style: normal;
    font-weight: 600;
    color: #000;
}

@media (min-width: 600px) {
    .event-details {
        max-width: 80%;
        margin: auto;
    }
}

a.register {
    display: inline-block;
    border-radius: 8px;
    padding: 8px 30px;
    min-width: 240px;
    margin: 1em 0 1em;
    font-size: 2em;
    text-decoration: none;
    background-color: #7067f9;
    color: #fff;
    cursor: pointer;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
}

.speakers a {
    text-decoration: none;
}

.speakers p {
    margin-top: 0;
    font-size: 0.9em;
    color: #666;
}

.speakers img {
    max-width: 300px;
    max-height: 200px;
}

table.schedule {
    border-collapse: collapse;
    margin: 1em auto 3em auto;
    max-width: 700px;
}

.schedule thead {
    font-weight: bold;
}

.schedule td {
    border: 1px solid #666;
    padding: 10px;
    background-color: #f3f3f3;
    font-weight: 600;
}

.schedule .break td {
    font-weight: normal;
}

.schedule td:first-of-type {
    background-color: #c0bef5;
    font-weight: normal;
}

.schedule thead td,
.schedule thead td:first-of-type {
    background-color: #a9a7f5;
}

.address {
    line-height: 1.4em;
    margin-top: 1.5em;
}

.code-of-conduct-link {
    margin: 2em 0;
}

.social {
    margin-top: 1.5em;
}

.social img {
    width: 25px;
    padding: 0 15px;
}

.brought-by {
    font-size: 0.9em;
    color: #aaa;
    margin-top: 2em;
    margin-bottom: 2em;
}

.brought-by a {
    color: #999;
}