html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #E9E9E9;
    font-family: 'Samsung One', Arial, sans-serif;
    color: #3d3d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    font-weight: normal;
}

a,
a:active,
a:visited {
    color: #3d3d3d;
}

a:hover {
    color: #666;
}

.hidden {
    display: none;
}

.main-content {
    padding: 20px 10px;
    min-width: 70%;
}

.title {
    margin-bottom: 30px;
}

.title img,
.slogan img {
    max-width: 100%;
    max-width: calc(100% - 20px);
}

.brand-logos {
    margin: 30px auto 40px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.brand-logos img {
    width: 40px;
    padding: 0 10px;
}

.event-details {
    margin: auto;
    width: 60%;
    text-align: center;
}

.address {
    line-height: 1.4em;
    margin-top: 1.5em;
}

.social {
    margin-top: 1.5em;
}

.social img {
    width: 25px;
    padding: 0 15px;
}

.brought-by {
    font-size: 0.9em;
    color: #aaa;
    margin-top: 2em;
    margin-bottom: 2em;
}

.brought-by a {
    color: #999;
}